<!DOCTYPE html>
<html lang="en">
<body>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <!-- Add other navigation links here -->
            
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <!-- Add other navigation links here -->
            
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
        

</body>

</html>