{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repository List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'BitBucket_site/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Repository List</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if not request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <div class="jumbotron">
            <h1 class="display-4">Repository List</h1>
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'index' %}">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search repository" value="{{ search_query }}">
                <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <ul class="list-group">
            {% for repo in all_repositories_data %}
                <li class="list-group-item">
                    <a href="{% url 'request_access_form' repo_slug=repo.repo_slug %}?repo_slug={{ repo.repo_slug }}">{{ repo.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR6+URs5f5zF5Ff5F5F5F5F5F5F5F5F5F5F5F5F5F5F5" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-2zFfSgt1yrjH6P8Y3FfD/x1vH5w5I5FeHk6Zd5u5F5F5F5F5F5F5F5F5F5F5F5F5F5F5" crossorigin="anonymous"></script>
</body>
</html>
